@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --color-bg: #e0e3ea;
    --color-bg-inverted: #121420;
    --color-bg-light: #f8f8f8;
    --color-bg-light-inverted: #1B2432;

    --color-primary: #F7561B;


    --icon-fill: #121420;
    --icon-fill-hover: #1B2432;

    --breakpoint-xs: 30rem;
    
}

@layer theme {
    .logo-accent-fill{
        fill: var(--color-primary);
    }
    .logo-base-fill{
        fill: #121420;
    }

    .dark .logo-base-fill{
        fill: #d0d3df;
    }

    

    .dark {

        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);

        --icon-fill: #d0d3df;
        --icon-fill-hover: #f8f8f8;

        --color-bg: #121420;
        --color-bg-inverted: #e0e3ef;
        --color-bg-light: #1B2432;
        --color-bg-light-inverted: #f8f8f8;
    }

    
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

h1:not(.backend-content h1){
    @apply text-2xl lg:text-4xl font-bold text-primary pb-4;
}

h2:not(.backend-content h2){
    @apply text-3xl font-semibold text-primary pb-4;
}

h3:not(.backend-content h3){
    @apply text-2xl font-semibold text-primary pb-4;
}

.h4-footer{
    @apply text-lg font-semibold text-primary pb-4;
}

.btn{
    @apply inline-flex items-center gap-1 px-6 py-3 rounded-4xl cursor-pointer hover:rounded-xl transition-all;
}

.btn-primary{
    @apply bg-primary text-white;
}

.btn-outline{
  @apply bg-transparent border-2 border-primary hover:bg-primary hover:text-white;
}

.btn-ghost{
  @apply bg-transparent text-primary hover:bg-primary/20 hover:text-white;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.footer-link {
    @apply hover:text-primary transition-colors;
}


.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

html.dark .sun-and-moon > .sun {
  transform: scale(1.75);
}

html.dark .sun-and-moon > .sun-beams {
  opacity: 0;
}

html.dark .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  html.dark .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s cubic-bezier(.5,1.25,.75,1.25);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s cubic-bezier(.5,1.5,.75,1.25), opacity .5s cubic-bezier(.25,0,.3,1);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s cubic-bezier(0,0,0,1);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s cubic-bezier(0,0,0,1);
    }
  }

  html.dark .sun-and-moon > .sun {
    transition-timing-function: cubic-bezier(.25,0,.3,1);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  html.dark .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  html.dark .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}
        

.light #logo-dark{
    @apply hidden;
}
.dark #logo-light{
    @apply hidden;
}

.navlink::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.navlink.active::after{
  width: 100%;
}

.navlink:hover::after{
  width: 100%;
}



.container{
  @apply px-4 md:px-8 lg:px-12;
}

#bg-gradient{
  background-image: linear-gradient(to right top, #f0f2f5, #e8eaf0ef, #e0e2e8e0, #d8dae0d5, #d0d2d8b6);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -10000;
  opacity: 1;

}

.dark #bg-gradient{
    background-image: linear-gradient(to right top, #121420, #141824f6, #171c29f1, #19202de1, #1b2432d3);
}

#bg-pattern{
  background: radial-gradient(#4f46e4 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #4f46e4 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #4f46e4 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 0.3;
  position:fixed;
  height: 100vh;
  width: 100vw;
  z-index: -100000;
}

.markdown ul{
  list-style-type: disc;
  padding-left: 1.5em;
}

.markdown ol{
  list-style-type: decimal;
  padding-left: 1.5em;
}

.markdown blockquote{
  border-left: 4px solid var(--color-primary);
  padding-left: 1em;
  font-style: italic;
}

.markdown > *:not(h1, h2, h3, h4, h5, h6){
  margin-bottom: 1.5rem;
  @apply max-w-5xl;
}

.markdown a{
  color: var(--color-primary);
}

.markdown a:hover{
  text-decoration: underline;
}

.mobile-nav{
  transform: translateX(100vw);
}

.mobile-nav.open{
  transform: translateX(0);
}

/* Prevent flash of unstyled content with Alpine.js */
[x-cloak] {
    display: none !important;
}

.hover-animate-left-right-trigger:hover .hover-animate-left-right{
  animation: left-right .6s ease-in-out infinite alternate;
}

@keyframes left-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(3px);
  }
}

.container{
  max-width: 96rem;
}

.autogrid-xs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.autogrid-sm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.autogrid-md {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.autogrid-lg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}

.autogrid-xl {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
}

.contact-step-current::after {
  content: '';
  position: absolute;
  right: -11.75px;
  top: 0;
  width: 12px;
  height: 100%;
  background-color: var(--color-bg-light-inverted);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

[data-flux-card]{
    @apply bg-zinc-100 dark:bg-white/10;
}

#timetracker {
    width: 100%;
    
    @media (min-width: 1024px) {
        width: calc(100vw - calc(var(--spacing) * 64) - 16px);
    }
}

[data-flux-button="data-flux-button"]:not([disabled]) {
  @apply cursor-pointer;
}